
td{
    border-width: 1px;
    border-style: solid;
    width: 100px;
}
th{
    border-width: 1px;
    border-style: solid;
    width: 100px;
    background-color:darkslategrey;
    color: goldenrod;
}
input{
    color: white;
    background-color:darkslategrey;
    width: 100px;
}
.result{
    width: 420px;
    height: 60px;
    color:goldenrod;
    background-color: darkslategray;
}
.header{
    font-size: x-large;
    font-weight: bold;
    color: darkslategrey;
}
button{
    background-color: goldenrod;
}
.calc-gp{
    float: right;
    background-color: goldenrod;
}
.add-course{
    background-color: goldenrod;
    position: relative;
}
.display{
    background-color:goldenrod;
    width: 450px;
    height: 450px;
    overflow-y: scroll;
}
.last-row{
    background-color: darkslategrey;
    width: 468px;  
    height: 30px; 
}
